.first-device-panel .device-panel-group {
    border-top:0.2px solid #D0C1B3;
    margin-top:20px
}

.device-list-add-device-button {
    right: 0;
    position: absolute;
    margin-top: 10px;
    background: #FF7F00;
    border: 0;
    margin-right: 10px;
    color: white;
}