.first-device-panel .device-panel-group {
    border-top:0.2px solid #D0C1B3;
    margin-top:20px
}

.device-list-add-device-button {
    background: #FF7F00;
    color: white;
    margin-left: 25px;
    margin-bottom: 12px;
}