.first-device-type-button .device-type-button {
    border-top:0.2px solid #D0C1B3;
    margin-top:15px;
}

.mode-label {
    color: #FF7F00;
    font-weight: bold;
    margin-left: 10px;
}

.home-add-mode-button {
    background: #FF7F00;
    color: white;
    margin-bottom: 5px;
    margin-right: 10px;
    float: right;
}