<<<<<<< HEAD
.first-device-type-button .device-type-button {
    border-top:0.2px solid #D0C1B3;
    margin-top:15px;
}

.mode-label {
    color: #FF7F00;
    font-weight: bold;
    margin-left: 10px;
=======
.first-device-type-button .device-type-button {
    border-top:0.2px solid #D0C1B3;
    margin-top:15px;
>>>>>>> 0704e7edb4a1e704f859268bfa4c87efd7acf1d6
}