<navbar></navbar>
<div class="wrapper-content" ng-controller="HomeController as homeCtrl" ng-init="homeCtrl.init()">
    <span class="mode-label">Mode: </span>
    <select class="combobox" ng-model="homeCtrl.selectedMode"
            ng-model="homeCtrl.selectedMode"
            ng-options="mode.name for mode in homeCtrl.modes track by mode.id"
            ng-change="homeCtrl.updateModeChange()">
    </select>
    <br>
    <span class="mode-label">Activated: </span><span>{{homeCtrl.activatedMode.name}}</span>
    <p></p>
    <div class="row form-row form-title">Device Categories</div>
    <device-type-button ng-repeat="deviceType in homeCtrl.deviceTypes" devicetype="deviceType"></device-type-button>
</div>
