<div class="panel-group device-panel-group" ng-init="devicePanelCtrl.init()">
    <div class="panel panel-default device-panel">
        <div class="panel-heading device-panel-heading">
            <h4 class="panel-title device-panel-title">
                <button data-toggle="collapse" data-target="#deviceCollapse{{device.id}}" type="button" class="device-button">
                    <div class="row device-type-button-row">
                        <div class="device-type-indicator"></div>
                        <div class="col-xs-offset-2 col-xs-3">
                            <img class="img-responsive" src="{{ typeimg }}">
                        </div>
                        <div class="col-xs-4">
                            <div class="row device-name">
                                {{ device.name }}
                            </div>
                            <div class="row device-gpio">
                                <span class="device-gpio-value">{{device.gpio == null || device.gpio == 0 ? '' : 'GPIO ' + device.gpio}}</span>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <span class="glyphicon glyphicon-off device-panel-disable-button"></span>
                            <span class="glyphicon glyphicon-trash device-panel-remove-button"></span>
                        </div>
                        <button data-toggle="collapse" data-target="#deviceCollapse{{device.id}}" class="device-panel-toggle-button">
                            <span id="devicePanelToggleIcon{{device.id}}" class="glyphicon glyphicon-menu-right device-panel-toggle-icon"/>
                        </button>
                    </div>
                </button>
            </h4>
        </div>
        <div id="deviceCollapse{{device.id}}" class="panel-collapse collapse script-panel-collapse">
            <div class="panel-footer script-panel-body">
                <div ng-show="devicePanelCtrl.isShowDetails == false">
                    <div class="row">
                        <!--<button class="add-script-button pull-right detail-button" ng-click="devicePanelCtrl.toggleShowDetails()">
                            Details...
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                        </button>-->
                        <strong>Description:</strong> {{device.description}}
                    </div>
                    <device-script device="device" script="script" ng-repeat="script in device.scripts"></device-script>
                </div>
                <div ng-show="devicePanelCtrl.isShowDetails == true">
                    <div class="row mode-row">
                        Default
                    </div>
                    <div class="row mode-row">
                        Vacation
                    </div>
                    <div class="row">
                        <button class="add-script-button pull-right detail-button" ng-click="devicePanelCtrl.toggleShowDetails()">
                            Details...
                            <span class="glyphicon glyphicon-triangle-top"></span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <button class="add-script-button pull-right"
                            ng-if="device.gpiotype != 'in'"
                            data-toggle="modal"
                            data-target="#device-panel-add-script-modal{{device.id}}">
                        <span class="glyphicon glyphicon-plus-sign"/>
                        Add script
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Add Script Modal -->
<div class="modal device-panel-add-script-modal" id="device-panel-add-script-modal{{device.id}}" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Script For {{device.name}}</h4>
            </div>
            <div class="modal-body">
                <div style="font-weight: bold">Choose Script Type: </div>
                <form>
                    <div class="radio">
                        <label><input type="radio"
                                      ng-model="devicePanelCtrl.selectedScriptTypeToAdd"
                                      value="When/Then">When/Then</label>
                    </div>
                    <span>When</span>
                    <select class="combobox script-condition-modify-input"
                            ng-model="devicePanelCtrl.selectedOtherDevice"
                            ng-options="device.name for device in devicePanelCtrl.otherDevices"
                            ng-change="devicePanelCtrl.updateDeviceChange()" />
                    <select class="combobox script-condition-modify-input"
                            ng-model="devicePanelCtrl.selectedCondition"
                            ng-options="condition.name for condition in devicePanelCtrl.conditions" />
                    <input class="script-condition-modify-input script-condition-modify-input-number"
                           ng-if="devicePanelCtrl.selectedCondition.hasParameter"
                           ng-model="devicePanelCtrl.selectedConditionParam"
                           type="number" step="0.1">
                    <span>Then</span>
                    <select class="script-condition-modify-input combobox"
                            ng-model="devicePanelCtrl.selectedAction"
                            ng-options="action.name for action in devicePanelCtrl.actions" />

                    <div class="radio">
                        <label><input type="radio"
                                      ng-model="devicePanelCtrl.selectedScriptTypeToAdd"
                                      value="From/To">From/To</label>
                    </div>
                    <span>From</span>
                    <span class="clockpicker">
                        <input type="text">
                    </span>
                    <span>To</span>
                    <span class="clockpicker">
                        <input type="text">
                    </span>
                    <span>,</span>
                    <select class="script-condition-modify-input combobox">
                    </select>

                    <div class="radio disabled">
                        <label><input type="radio"
                                      ng-model="devicePanelCtrl.selectedScriptTypeToAdd"
                                      value="Custom">Custom</label>
                    </div>
                    <input type="text"
                           ng-model="devicePanelCtrl.customScriptNameForAdd"
                           class="form-control input-field"
                           placeholder="Custom Script Name">
                    <textarea class="form-control input-field device-panel-custom-script-input"
                              ng-model="devicePanelCtrl.customScriptContentForAdd"
                              rows="3"
                              placeholder="Custom Script Input"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"
                        ng-click="devicePanelCtrl.addScript()"
                        class="btn modal-confirm-btn add-script-btn"
                        data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-default add-script-btn" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>