<div class="wrapper-content-vertical-center">
    <form ng-controller="RegisterSuccessController as registerSuccessCtrl"
          ng-submit="registerSuccessCtrl.goToLogin()">
        <div class="row form-row form-title">Thank you!</div>
        <div class="form-group">
            <div class="row form-row">
                <div class="col-xs-12">
                   <p>Your account has been created.<br>
                    Please go to your email to activate your account.</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="form-group">
            <div class="row form-row">
                <div class="col-xs-12">
                    <button type="submit" class="form-button">Go to Login</button>
                </div>
            </div>
        </div>
    </form>
</div>