.delete-script-button {
    background: #f5f5f5;
    border: 0;
}

.clockpicker input {
    width: 55px;
    height: 29px;
    text-align: center;
}

.device-script-from-to-row {
    margin-bottom: 5px;
}

.disabled-script {
    text-decoration: line-through;
}